html, body, #root, .App, .dashboard{
    background-color: rgb(216, 216, 216);
    height: 100%;
}

/* .content, .asdf {
    overflow: scroll;
} */

.ticket-detail-label, .ticket-priority {

    border-radius: 15px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(204, 222, 255);
    font-weight: bold;
}



.green-check {
    font-size: 1.5rem;
    color: green;
}

#root .btn:focus, .form-check-input:focus {
    outline: none;
    box-shadow: none;
}

.flex-even {
    flex: 1;
}

.form-check-input {
    cursor: pointer;
}

/* .tickets-table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}
.tickets-table tr td:nth-child(2)
{
 max-width: 0;
 width: 100%;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
} */
/* tr td:nth-child(1) {
    white-space: nowrap;

} */
/* tr td:nth-child(3) {
    width: 10%;
} */