html, body, #root, .App, .dashboard{
    background-color: rgb(216, 216, 216);
    height: 100%;
}
.content {
    overflow: auto;
}

.green-check {
    font-size: 1.5rem;
    color: green;
}

#root .btn:focus, .form-check-input:focus {
    outline: none;
    box-shadow: none;
}

.flex-even {
    flex: 1;
}

.form-check-input {
    cursor: pointer;
}