html, body, #root, .App, .dashboard{
    height: 100%;
    background-color: rgb(216, 216, 216);

}

.green-check {
    font-size: 1.5rem;
    color: green;
}

#root .btn:focus {
    outline: none;
}

