.add-ticket-btn {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

td {
    cursor: default;
}

.ellipsis {
    cursor: pointer;
}

#table thead th{
    border-bottom: none;
}

#table table, #table td, #table tr {
    /* background-color: #343a40; */
}

.table-project-row .dropdown-toggle::after {
    display: none;
}

#ellipsis {
    padding: 0;
    margin: 0;
    padding-left: 4px;
}


