.add-ticket-btn {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

td {
    cursor: default;
}

.ellipsis {
    cursor: pointer;
}

.content .dropdown-toggle::after {
    display: none;
}

.project-name, .ticket-title {
    cursor: pointer
}

#ellipsis {
    padding: 0;
    margin: 0;
    padding-left: 4px;
}


#root table th {
    border: none;
}

#root thead {
    border: none;
}

